@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #000;
}

h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

#time {
    font-size: 8rem;
}

@media (max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}
